# GetStream credentials (yeh same rahenge)
STREAM_API_KEY=77uaunr7pfgf
STREAM_API_SECRET=fczxzb48ht9yfbykgtppzckjpphyw689wdhvfzkkssyz96zrrmn2dfzp4gggkq48

# Gemini API key - OPENAI_API_KEY hatao, yeh lagao
# GEMINI_API_KEY=AIzaSyAA7Pi5fTU8anMxNfBy74RAyyRHVjRHQxM
GEMINI_API_KEY=AIzaSyAA7Pi5fTU8anMxNfBy74RAyyRHVjRHQxM
AIzaSyAA7Pi5fTU8anMxNfBy74RAyyRHVjRHQxM
# TAVILY_API_KEY aur OPENAI_API_KEY dono hatao
PORT=3333